.container {
    height: 678px;
    display: flex;
    background: white;
    position: relative;
    page-break-after: always;
    page-break-inside: avoid;
}

.text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}

.logo {
    width: 200px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.content {
    padding: 40px;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    box-sizing: border-box;
}

.image {
    flex: 1;
    height: 100%;
    background-size: cover;
}

.imageforeground {
    flex: 1;
    max-width: 50%;
    object-fit: cover;
}

.ribbon {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 20px;
    z-index: 100;
}

