.container {
    width: 1200px;
    height: 678px;
    background-color: white;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
}

.headline {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    width: 70%;
}

.link {
    cursor: pointer;
    padding: 40px 130px;
    font-size: 40px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 87px;
}

.url {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
