.container {
    height: 678px;
    display: flex;
    background: white;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.features {
    display: flex;
    column-gap: 30px;
    padding: 0 50px;
}